<f:layout name="Page"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Footer">

		<footer role="contentinfo">
		<div id="footer">
		 <div class="container">
			<!-- sitemap-->
			<div class="row">
				<v:page.menu entryLevel="0" levels="2" includeSpacers="FALSE" expandAll="TRUE">
					<f:if condition="{menu}">

						<f:for each="{menu}" as="menuPage" iteration="iteration">
							<div class="col-md-2">
								<ul class="list-unstyled">
									<li class="{menuPage.class}">
										<a href="{menuPage.link}" class="{menuPage.class}">
											<h6 class="footer-title">{menuPage.title}</h6>
										</a>
									</li>

									<!-- Sub menu -->
									<v:page.menu pageUid="{menuPage.uid}" includeSpacers="FALSE" expandAll="TRUE">
										<f:if condition="{menu}">
											<f:for each="{menu}" as="subMenuPage" iteration="subIteration">
												<li class="{subMenuPage.class}">
													<a href="{subMenuPage.link}" class="{subMenuPage.class}">
														<small>{subMenuPage.title}</small>
													</a>
												</li>
											</f:for>
										</f:if>
									</v:page.menu>

								</ul>
							</div>
						</f:for>
					</f:if>
				</v:page.menu>
			</div>
			<!-- /sitemap-->
<div class="row">
          <div class="col-xs-5">
            <h3 class="footer-title"><v:content.render column="0" pageUid="163"/></h3>
            <p><f:cObject typoscriptObjectPath="lib.footer"/>
            </p>


          </div> <!-- /col-xs-5 -->
		  <div class="col-xs-2 text-center ">
	
				<a href="https://www.provincia.livorno.it" >
				<img class="img-responsive  img-circle center-block no-resizehomeicon" src="http://www.provincia.livorno.it/fileadmin/Administrators/Immagini/stemmaprovliv.gif">
				
<h7>
	Provincia di Livorno
</h7>
</a>
				</div>
		  
		  
	<v:content.render column="0" pageUid="255"/>

        </div>



</div>
</div>
		</footer>
	</f:section>

</div>
