{namespace n=Tx_News_ViewHelpers}
<f:layout name="Page"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">


	<f:section name="Header">

	<v:switch value="{page.uid}">
			<v:case case="1" break="true">
								<v:content.render column="1"/>
			</v:case>
			<v:case case="202" break="true">
				<header class="headernohome">
					<div class="bg"></div>
						<div class="container">
						<h1><f:cObject typoscriptObjectPath="lib.newstitle" />			
						
					
						</div>
				</header>
			</v:case>
			<v:case case="252" break="true">
				<header class="headernohome">
					<div class="bg"></div>
						<div class="container">
						<h1><f:cObject typoscriptObjectPath="lib.newstitle" />			
						
					
						</div>
				</header>
			</v:case>
		<v:case case="default" break="true">
				<header class="headernohome">
					<div class="bg"></div>
						<div class="container">
						<h1>{page.title}</h1>
						<p>{page.subtitle}</p>
						</div>
				</header>
		</v:case>

		</v:switch>	
	

		
	</f:section>

</div>
