</div>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:layout name="Page"/>



	<f:section name="NewsHome">
			
			<div class="homenewwrap" role="banner" style="background-image:url(http://www.provincia.livorno.it/musmed/fileadmin/administrator/dino01_large.jpg)">
				<h1>News</h1>
			</div>	

<div class="container">
				<div class="row" role="main">
					<div class="col-md-12" role="section">
						<div class="row">
							<div class="col-md-6  ">
								<h5>
								News
								</h5>
				<v:content.render pageUid="158" />
							</div>
							<div class="col-md-6  ">
								<h5>
								Events
								</h5>
							</div>
						</div>
						
		<!--		<f:if condition="{v:variable.typoscript(path: 'lib.addthis.display')}">
					<f:render section="AddThis" partial="AddThis" optional="TRUE" arguments="{_all}"/>
				</f:if> -->
					</div>
</div>

</div>
<hr>


			


		
	</f:section>

</div>
<div class="container">
